:root {
    --vddb: hsl(238, 29%, 16%);
    --sr: hsl(14, 88%, 65%);
    --sv: hsl(273, 75%, 66%);
    --sb:hsl(240, 73%, 65%);
    --vdgb: hsl(237, 12%, 33%);
    --dgb: hsl(240, 6%, 50%);
    --lgb: hsl(240, 5%, 91%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(to bottom, var(--sv), var(--sb));
    height: 100vh;
}
main {
    width: 85%;
    height: auto;
    margin: 12rem auto 0;
    background-color: #FFF;
    border-radius: 1rem;
    position: relative;
    padding: 10.5rem 2rem 3rem;
    transition: all 3s;
}
#illustration {
    position: absolute;
    width: 80%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
}
#shadow {
    width: 80%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);  
}
#faq{
    text-align: center;
    font-size: 2rem;
}
#qa {
    margin-top: 2rem;
}
.qa-block {
    padding: 1rem 0;
    border-bottom: 1px solid  var(--lgb);
}
.question-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question  {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: var(--vdgb);
}
.arrow {
    transition: all 5s;
}
.arrow img {

}
.answer {
    font-size: 0.85rem;
    color: var(--dgb);
    /*visibility: hidden;*/
    line-height: 1.4;
    display: none;
    width: 85%;
}